.logo-name {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 500;
}
header {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  list-style: none;
  padding-top: 28px;
}
.nav-list li {
  margin-right: 20px;
}
.nav-link a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-family: "Playfair Display", serif;
}
.nav-link a.active {
  color: #d2042d;
}
.nav-link a:hover {
  border-bottom: 2px solid #000;
}
